<h1 mat-dialog-title>Forgot Password</h1>
<div mat-dialog-content>
  <div style="font-size: 14px;">Please enter your registered Email ID. We'll send password reset link.</div>
  <mat-form-field color="accent">
    <input (keydown.enter)="send()" (focus)="inValidEmailId=false;" id="email" type="text" [(ngModel)]="email" matInput
      placeholder="Email address" />
  </mat-form-field>
  <div *ngIf="inValidEmailId" style="color: red;">
    Please enter a valid Email ID
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button class="sd-btn" (click)="send()" cdkFocusInitial>Send</button>
  <button mat-button class="sd-btn-sec" [mat-dialog-close]="false">Cancel</button>
</div>