<h1 mat-dialog-title>Sign up for FREE 14 day trial</h1>
<div mat-dialog-content>
    <div [ngSwitch]="screen" class="options">
        <ng-container *ngSwitchCase="'options'">
            <!-- GOOGLE -->
            <div class="row option">
                <div class="customBtn customGPlusSignIn col-sm-7" (click)="signUpUsingGoogle()">
                    <span class="icon gicon"></span>
                    <span class="buttonText">Sign up with Google</span>
                </div>
            </div>

            <!-- FACEBOOK -->
            <div class="row option">
                <div class="customBtn customGPlusSignIn col-sm-7" (click)="signUpUsingFacebook()">
                    <span class="icon ficon"></span>
                    <span class="buttonText">Sign up with Facebook</span>
                </div>
            </div>

            <!-- EMAIL/PASSWORD -->
            <div class="row option">
                <div class="customBtn customGPlusSignIn col-sm-7" (click)="screen='email'">
                    <span class="icon fa fa-envelope-o"></span>
                    <span class="buttonText">Sign up with Email ID</span>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'email'">
            <form [formGroup]="signUpForm">

                <div class="row">
                    <div class="col-sm-8 offset-sm-2">
                        <div class="form-row">
                            <i class="material-icons">email</i>
                            <mat-form-field color="accent">
                                <input (keydown.enter)="login()" id="email" type="text" formControlName="email" matInput placeholder="Email address" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div formGroupName="passwordGroup">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            <div class="form-row">
                                <i class="material-icons">lock_outline</i>
                                <mat-form-field color="accent">
                                    <input (keydown.enter)="login()" id="password" type="password" formControlName="password" matInput placeholder="Password" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            <div class="form-row">
                                <i class="material-icons">lock_outline</i>
                                <mat-form-field color="accent">
                                    <input (keydown.enter)="login()" id="password" type="password" formControlName="confirmPassword" matInput placeholder="Confirm password" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 btn-wrap" id="signup">
                            <button mat-button class="secondary" (click)="screen='options'">Back</button>
                            <button mat-button class="primary" (click)="signUpWithEmail()" [disabled]="!signUpForm.valid">Sign Up</button>
                        </div>
                    </div>
                </div>

            </form>
        </ng-container>

    </div>

</div>