<h1 mat-dialog-title>Terms And Conditions</h1>
<div mat-dialog-content>
  <div class="" style="margin-top: 20px; color: #444; text-align: justify;">
    <div>
      <h5>1. ACCEPTANCE OF TERMS</h5>
      <label class="desc">Welcome to Spelldone, which is owned and operated by Great 2 Learn LLC Inc. Great 2 Learn LLC
        (hereafter called "G2L/Spelldone") provides
        its service to you, subject to the following Terms of Service
        ("TOS"), which may be updated by us from time to time without
        notice to you. When using particular G2L/Spelldone services, you and G2L/Spelldone
        shall be subject to any posted guidelines or rules applicable to
        such services which may be posted from time to time. All such
        guidelines or rules are hereby incorporated by reference into the
        TOS.</label>
    </div>
    <div>
      <h5>2. DESCRIPTION OF SERVICE</h5>
      <label class="desc">G2L/Spelldone currently provides users with a service to help
        learn and practice Spelling in English. Unless explicitly stated
        otherwise, any new features that augment or enhance the current
        Service, including the release of new G2L/Spelldone properties, shall be
        subject to the TOS. You understand and agree that the Service is
        provided "as-is" and that G2L/Spelldone assumes no responsibility for the
        timeliness, deletion, misdelivery or failure to store any user
        communications or personalization settings.</label> <label class="desc">In order
        to use the Service, you must obtain access to the Internet, either
        directly or through devices that access web-based content, and pay
        any service fees associated with such access. In addition, you must
        provide all equipment necessary to make such connection to the
        Internet, including a computer and modem or other access device.</label>
    </div>
    <div>
      <h5>3. YOUR REGISTRATION OBLIGATIONS</h5>
      <label class="desc">In consideration of your use of the Service, you
        agree to: (a) provide true, accurate, current and complete
        information about yourself as prompted by the Service's
        registration form (such information being the "Registration Data")
        and (b) maintain and promptly update the Registration Data to keep
        it true, accurate, current and complete. If you provide any
        information that is untrue, inaccurate, not current or incomplete,
        or G2L/Spelldone has reasonable grounds to suspect that such information is
        untrue, inaccurate, not current or incomplete, G2L/Spelldone has the right to
        suspend or terminate your account and refuse any and all current or
        future use of the Service (or any portion thereof).</label>
    </div>
    <div>
      <h5>4. MEMBERSHIP AND BILLING</h5>
      <span>Memberships</span><br> <br> <label class="desc">You can
        find the specific details regarding your membership with G2L/Spelldoneat any
        time. Simply sign in to your G2L/Spelldone to Manage your account.</label>
    </div>
    <div>
      <span>a. Billing</span><br> <br> <label class="desc">By
        starting your G2L/Spelldone membership, you are expressly agreeing that we
        are authorized to charge you the membership fee associated with the
        type of membership (monthly or yearly) you chose during
        registration. You agree that we are authorized to charge you the
        membership fee at the then-current rate to the Payment Method you
        provided during registration (or to a different Payment Method if
        you change your account information). Please note that prices and
        charges are subject to change with notice. As used in these Terms
        of Service, "billing" shall indicate either a charge or debit, as
        applicable, against your Payment Method. The membership fee will be
        billed at the beginning of the paying portion of your membership
        and each month or year thereafter unless and until you cancel your
        membership. Sign in to your G2L/Spelldone account to see the commencement
        date for your next renewal period. We automatically bill your
        Payment Method each month or year on the calendar day corresponding
        to the commencement of your paying membership. Membership charges
        are fully earned upon payment.</label> <label class="desc">Note: In the event
        your monthly membership began on a day not contained in a given
        month, we bill your Payment Method on the last day of such month.
        For example, if you became a paying member on January 31, your
        Payment Method would next be billed on February 28.</label> <label class="desc">You
        acknowledge that the amount billed each billing period may vary for
        reasons that include differing amounts due to changes in your
        membership plan, and you authorize us to charge your Payment Method
        for such varying amounts. Payments are nonrefundable and there are
        no refunds or credits for partially used periods. We may change the
        fees and charges in effect, or add new fees and charges from time
        to time, but we will give you advance notice of these changes by
        e-mail. If you want to use a different Payment Method or if there
        is a change in Payment Method, such as your credit card validity or
        expiration date, you may edit your Payment Method information. If
        your Payment Method reaches its expiration date and you do not edit
        your Payment Method information or cancel your account (see,
        "Cancellation" below), you authorize us to continue billing that
        Payment Method and you remain responsible for any uncollected
        amounts.</label>
    </div>
    <div>
      <span>b. Ongoing Membership</span><br> <br> <label class="desc">Your
        G2L/Spelldone membership will continue in effect unless and until you cancel
        your membership or we terminate it. You must cancel your membership
        before it renews each billing period in order to avoid billing of
        the next membership fee to your Payment Method. We will bill the
        membership fee at the then-current rate plus any applicable tax to
        the Payment Method you provide to us during registration (or to a
        different Payment Method if you change your account information).
        Membership fees are fully earned upon payment.</label>
    </div>
    <div>
      <span>c. Holds</span><br> <br> <label class="desc">You may
        place a monthly membership on hold at any time, and the hold will
        take effect at the start of your next billing cycle. When the hold
        period has ended, your membership will resume and we will
        automatically bill the membership fee at the then-current rate plus
        any applicable tax to the Payment Method you provide to us during
        registration (or to a different Payment Method if you change your
        account information).</label> <label class="desc">You may cancel a hold status
        at any time by clicking the words "Remove hold" on your Account
        management page. When you cancel a hold period, your membership
        will resume immediately and we will automatically bill the
        membership fee at the then-current rate plus any applicable tax to
        the Payment Method you provide to us during registration (or to a
        different Payment Method if you change your account information).</label>
    </div>
    <div>
      <span>d. Cancellation</span><br> <br> <label class="desc">You
        may cancel your G2L/Spelldone membership at any time, and cancellation will
        be effective immediately. You will continue to have access to the
        program until the current billing period ends. We do not provide
        refunds or credits for any partially used membership periods. To
        cancel your membership, sign in to your parent account and click
        the words "Cancel membership" on your Account management page.
        Follow the instructions for cancellation under the heading "Cancel
        Membership."</label>
    </div>
    <div>
      <h5>5. G2L/Spelldone PRIVACY POLICY</h5>
      <label class="desc">Registration Data and certain other information about
        you is subject to our Privacy Policy.</label>
    </div>
    <div>
      <h5>6. MEMBER ACCOUNT, PASSWORD AND SECURITY</h5>
      <label class="desc">You will have a password and account designation upon
        completing the Service's registration process. You are responsible
        for maintaining the confidentiality of the password and account and
        are fully responsible for all activities that occur under your
        password or account. You agree to (a) immediately notify G2L/Spelldone of any
        unauthorized use of your password or account or any other breach of
        security, and (b) ensure that you exit from your account at the end
        of each session. G2L/Spelldone cannot and will not be liable for any loss or
        damage arising from your failure to comply with this Section 6.</label> <label class="desc">G2L/Spelldone
        accounts may not be shared by more than one person unless express
        authorization is given by G2L LLC.</label>
    </div>
    <div>
      <h5>7. MEMBER CONDUCT</h5>
      <label class="desc">You understand that all information including but not
        limited to data, text, software, photographs, graphics,
        illustrations, artwork, video, music, sound, messages, names,
        logos, trademarks, service marks and other materials ("Content"),
        whether publicly posted or privately transmitted, are the sole
        responsibility of the person from which such Content originated.
        This means that you, and not G2L, are entirely responsible for all
        Content that you upload, post, e-mail, transmit or otherwise make
        available via the Service. G2L/Spelldone does not control the Content posted
        via the Service and, as such, does not guarantee the accuracy,
        integrity or quality of such Content. Under no circumstances will
        G2L/Spelldone be liable in any way for any Content, including, but not
        limited to, for any errors or omissions in any Content, or for any
        loss or damage of any kind incurred as a result of the use of any
        Content posted, e-mailed, transmitted or otherwise made available
        via the Service.</label> <label class="desc">You understand that the technical
        processing and transmission of the Service, including your Content,
        may involve (a) transmissions over various networks; and (b)
        changes to conform and adapt to technical requirements of
        connecting networks or devices.</label>
    </div>
    <div>
      <h5>8. SPECIAL ADMONITIONS FOR INTERNATIONAL USE</h5>
      <label class="desc">Recognizing the global nature of the Internet, you
        agree to comply with all local rules regarding online conduct and
        acceptable Content. Specifically, you agree to comply with all
        applicable laws regarding the transmission of technical data
        exported from the United States or the country in which you reside.</label>
    </div>
    <div>
      <h5>9. INDEMNITY</h5>
      <label class="desc">You agree to indemnify and hold G2L/Spelldone, and its
        subsidiaries, affiliates, officers, agents, co-branders or other
        partners, and employees, harmless from any claim or demand,
        including reasonable attorneys' fees, made by any third party due
        to or arising out of Content you submit, post, transmit or make
        available through the Service, your use of the Service, your
        connection to the Service, your violation of the TOS, or your
        violation of any rights of another.</label>
    </div>
    <div>
      <h5>10. NO RESALE OF SERVICE</h5>
      <label class="desc">You agree not to reproduce, duplicate, copy, sell,
        resell or exploit for any commercial purposes, any portion of the
        Service, use of the Service, or access to the Service.</label>
    </div>
    <div>
      <h5>11. MODIFICATIONS TO SERVICE</h5>
      <label class="desc">G2L/Spelldone reserves the right at any time and from time to
        time to modify or temporarily discontinue the Service (or any part
        thereof) with or without notice. You agree that G2L/Spelldone shall not be
        liable to you or to any third party for any modification,
        suspension or temporary discontinuance of the Service. In the event
        of permanent discontinuance of the Service, liability is limited to
        the paid subscription price, pro-rated to the amount of time
        remaining on the subscription.</label>
    </div>
    <div>
      <h5>12. TERMINATION</h5>
      <label class="desc">You agree that G2L/Spelldone, in its sole discretion, may
        terminate your password, account (or any part thereof) or use of
        the Service, for any reason, including, without limitation, for
        lack of use or if G2L/Spelldone believes that you have violated or acted
        inconsistently with the letter or spirit of the TOS. G2L/Spelldone may also
        in its sole discretion and at any time discontinue providing the
        Service, or any part thereof, with or without notice. You agree
        that any termination of your access to the Service under any
        provision of this TOS may be effected without prior notice, and
        acknowledge and agree that G2L/Spelldone may immediately deactivate or delete
        your account and all related information and files in your account
        and/or bar any further access to such files or the Service.
        Further, you agree that G2L/Spelldone shall not be liable to you or any
        third-party for any termination of your access to the Service.</label>
    </div>
    <div>
      <h5>13. LINKS</h5>
      <label class="desc">The Service may provide, or third parties may
        provide, links to other Internet websites or resources. Because G2L/Spelldone
        has no control over such sites and resources, you acknowledge and
        agree that G2L/Spelldone is not responsible for the availability of such
        external sites or resources, and does not endorse and is not
        responsible or liable for any Content, advertising, products, or
        other materials on or available from such sites or resources. You
        further acknowledge and agree that G2L/Spelldone shall not be responsible or
        liable, directly or indirectly, for any damage or loss caused or
        alleged to be caused by or in connection with use of or reliance on
        any such Content, goods or services available on or through any
        such site or resource.</label>
    </div>
    <div>
      <h5>14. G2L/Spelldone'S PROPRIETARY RIGHTS</h5>
      <label class="desc">You acknowledge and agree that the Service and any
        necessary software used in connection with the Service ("Software")
        contain proprietary and confidential information that is protected
        by applicable intellectual property and other laws. You further
        acknowledge and agree that information presented to you through the
        Service is protected by copyrights, trademarks, service marks,
        patents or other proprietary rights and laws. Except as expressly
        authorized by G2L/Spelldone or advertisers, you agree not to modify, rent,
        lease, loan, sell, distribute or create derivative works based on
        the Service or the Software, in whole or in part.</label> <label class="desc">G2L/Spelldone
        grants you a personal, non-transferable and non-exclusive right and
        license to use the Service. You agree that you will not copy,
        modify, create a derivative work of, reverse engineer, reverse
        assemble or otherwise attempt to discover any source code, sell,
        assign, sublicense, grant a security interest in or otherwise
        transfer any right in the Software. You agree not to modify the
        Software in any manner or form, or to use modified versions of the
        Software, including (without limitation) for the purpose of
        obtaining unauthorized access to the Service. You agree not to
        access the Service by any means other than through the interface
        that is provided by G2L/Spelldone for use in accessing the Service.</label> <label class="desc">Furthermore,
        you understand that the Content is protected by copyright and other
        laws in both the United States and elsewhere. Under the terms of
        this agreement, it is expressly forbidden to distribute the Content
        or any portion thereof by any means, including but not limited to
        electronic and print, to any person or entity who does not have a
        valid account. G2L/Spelldone reserves the right to cancel your organization's
        license without refund if it is determined that you have violated
        this portion of the agreement.</label>
    </div>
    <div>
      <h5>
        15. DISCLAIMER OF WARRANTIES <br> <br> YOU EXPRESSLY
        UNDERSTAND AND AGREE THAT :
      </h5>
      <ol type="a" style="margin-left: -20px;">
        <li>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE
          IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. G2L/Spelldone EXPRESSLY
          DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
          INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
          NON-INFRINGEMENT.</li>
        <li>G2L/Spelldone MAKES NO WARRANTY THAT
          <ol type="i">
            <li>THE SERVICE WILL MEET YOUR REQUIREMENTS,</li>
            <li>THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR
              ERROR-FREE,</li>
            <li>THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE
              SERVICE WILL BE ACCURATE OR RELIABLE,</li>
            <li>THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR
              OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE
              WILL MEET YOUR EXPECTATIONS, AND</li>
            <li>ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.</li>
          </ol>
        </li>
        <li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE
          USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND
          THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR
          COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF
          ANY SUCH MATERIAL.</li>
        <li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN,
          OBTAINED BY YOU FROM G2L/Spelldone OR THROUGH OR FROM THE SERVICE SHALL
          CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOS.</li>
      </ol>
    </div>
    <div>
      <h5>16. LIMITATION OF LIABILITY</h5>
      <label class="desc">YOU EXPRESSLY UNDERSTAND AND AGREE THAT G2L/Spelldone SHALL NOT
        BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
        CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO,
        DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER
        INTANGIBLE LOSSES (EVEN IF G2L/Spelldone HAS BEEN ADVISED OF THE POSSIBILITY
        OF SUCH DAMAGES), RESULTING FROM:</label>
      <ol type="i">
        <li>THE USE OR THE INABILITY TO USE THE SERVICE;</li>
        <li>THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES
          RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED
          OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO
          THROUGH OR FROM THE SERVICE;</li>
        <li>UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS
          OR DATA;</li>
        <li>STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE;
          OR (v) ANY OTHER MATTER RELATING TO THE SERVICE.</li>
      </ol>
    </div>
    <div>
      <h5>17. EXCLUSIONS AND LIMITATIONS</h5>
      <label class="desc">SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF
        CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
        INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE
        LIMITATIONS OF SECTIONS 15 AND 16 MAY NOT APPLY TO</label>
    </div>
    <div>
      <h5>18. TRADEMARK INFORMATION</h5>
      <label class="desc">G2L is a registered trademark of G2L LLC.</label>
    </div>
    <div>
      <h5>19. GENERAL INFORMATION</h5>
      <label class="desc">The TOS constitute the entire agreement between you
        and G2L/Spelldone and govern your use of the Service, superseding any prior
        agreements between you and G2L/Spelldone. You also may be subject to
        additional terms and conditions that may apply when you use
        affiliate services, third-party content or third-party software.
        The TOS and the relationship between you and G2L/Spelldone shall be governed
        by the laws of the State of California without regard to conflict
        of law provisions. The failure of G2L/Spelldone to exercise or enforce any
        right or provision of the TOS shall not constitute a waiver of such
        right or provision. If any provision of the TOS is found by a court
        of competent jurisdiction to be invalid, the parties nevertheless
        agree that the court should endeavor to give effect to the parties'
        intentions as reflected in the provision, and the other provisions
        of the TOS remain in full force and effect. You agree that
        regardless of any statute or law to the contrary, any claim or
        cause of action arising out of or related to use of the Service or
        the TOS must be filed within one (1) year after such claim or cause
        of action arose or be forever barred.</label> <label class="desc">The section
        titles in the TOS are for convenience only and have no legal or
        contractual effect.</label>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="sd-btn" mat-dialog-close>Close</button>
</div>